*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --ff-text: 'Palanquin', sans-serif;
  --ff-princ: 'Staatliches', cursive;
  font-size: 62.5%;
}

body{
  background: EFF1FF;
}

body:before{
  content: "";
  width: 100%;
  height: 280px;
  background: #8E9AAF;
  position: absolute;
  z-index: -1;
}

.page{
  
}